/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--primary-dark) var(--primary-light);
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: var(--primary-light);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--primary-dark);
  border-top: 2px solid var(--primary-light);
}
